pkgbase = etcd
	pkgver = 3.4.14
	pkgrel = 1
	url = https://github.com/coreos/etcd
	install = etcd.install
	arch = x86_64
	arch = i686
	arch = armv6h
	arch = armv7h
	license = Apache
	makedepends = go
	backup = etc/etcd/etcd.conf.yml
	source = etcd-3.4.14.tar.gz::https://github.com/coreos/etcd/archive/v3.4.14.tar.gz
	source = https://github.com/coreos/etcd/raw/v3.4.14/contrib/systemd/etcd.service
	source = https://github.com/coreos/etcd/raw/v3.4.14/etcd.conf.yml.sample
	sha256sums = 88ec62a12cd2624b1d37a979aae4e695d183a73b2806725d0501d405816d399d
	sha256sums = e107490b80d96494b9276c7478e2e4d368ef9254b50a7996ae9f3456ccc68e81
	sha256sums = d91862eedcd2d98523308dba0e4da4ce7a41554b74f52c62a9a69f175753da37

pkgname = etcd

