pkgbase = etcd
	pkgver = 3.4.15
	pkgrel = 1
	url = https://github.com/coreos/etcd
	install = etcd.install
	arch = x86_64
	arch = i686
	arch = armv6h
	arch = armv7h
	license = Apache
	makedepends = go
	backup = etc/etcd/etcd.conf.yml
	source = etcd-3.4.15.tar.gz::https://github.com/coreos/etcd/archive/v3.4.15.tar.gz
	source = https://github.com/coreos/etcd/raw/v3.4.15/contrib/systemd/etcd.service
	source = https://github.com/coreos/etcd/raw/v3.4.15/etcd.conf.yml.sample
	sha256sums = 20eb6fa707ecfd056ebe011ff4023c68864302ab731df27e6a7f36751ab06ca0
	sha256sums = e107490b80d96494b9276c7478e2e4d368ef9254b50a7996ae9f3456ccc68e81
	sha256sums = d91862eedcd2d98523308dba0e4da4ce7a41554b74f52c62a9a69f175753da37

pkgname = etcd

