pkgbase = etcd
	pkgver = 3.5.0
	pkgrel = 1
	url = https://github.com/coreos/etcd
	install = etcd.install
	arch = x86_64
	arch = i686
	arch = armv6h
	arch = armv7h
	license = Apache
	makedepends = go
	backup = etc/etcd/etcd.conf.yml
	source = etcd-3.5.0.tar.gz::https://github.com/coreos/etcd/archive/v3.5.0.tar.gz
	source = https://github.com/coreos/etcd/raw/v3.5.0/contrib/systemd/etcd.service
	source = https://github.com/coreos/etcd/raw/v3.5.0/etcd.conf.yml.sample
	sha256sums = f30f68c52a7547af08be7d166884c94885ea8a593c1c1e814c89b24148ee1921
	sha256sums = 6b2921568bd96f5bb48ba61d2b9673f42e49eb90fda35a7003fbac469a226a13
	sha256sums = 1a532bf85dbb94fb370e1b69e4384e8bf5cd93b3cea778e9f9fc9dfe15009328

pkgname = etcd
