pkgbase = bcmdhd-fw
	pkgver = 0.1
	pkgrel = 1
	arch = any
	license = unknown
	noextract = ap6210.tar.xz
	source = http://arch.moscar.net/bin/ap6210.tar.xz
	md5sums = f36f0a34ade7083e33aa0585c300b7dd

pkgname = bcmdhd-fw

