pkgbase = cri-o
	pkgver = 1.9.5
	pkgrel = 1
	url = https://github.com/kubernetes-incubator/cri-o
	arch = any
	license = Apache 2
	makedepends = go
	depends = runc
	depends = ostree
	depends = btrfs-progs
	source = https://github.com/kubernetes-incubator/cri-o/archive/v1.9.5.tar.gz
	sha256sums = 57b2b243b2ee97dde0eb55f11ddf42529c93d0993793565ee0ce44c44e23cff9

pkgname = cri-o

