pkgbase = cmdtube-git
	pkgver = 20121107
	pkgrel = 1
	url = https://github.com/mikkeloscar/cmdtube.git
	arch = any
	license = GPL
	makedepends = python2
	makedepends = python2-distribute
	makedepends = git
	depends = python2
	depends = python2-gdata
	optdepends = mplayer: default player,
	optdepends = youtube-dl: required when using mplayer,
	optdepends = vlc: to use vlc as player
	backup = etc/xdg/cmdtube/cmdtube.conf
	source = git://github.com/mikkeloscar/cmdtube.git
	md5sums = SKIP

pkgname = cmdtube-git

