pkgbase = g++-arm-linux-gnueabihf-bin
	pkgver = 4.8.2
	pkgrel = 1
	url = http://packages.ubuntu.com/g++-arm-linux-gnueabihf
	arch = i686
	arch = x86_64
	license = GPL2
	depends = binutils-arm-linux-gnueabihf-bin
	depends = cpp-arm-linux-gnueabihf-bin
	depends = libgcc-dev-armhf-cross-bin
	provides = g++-arm-linux-gnueabihf
	conflicts = g++-arm-linux-gnueabihf
	source = http://archive.ubuntu.com/ubuntu/pool/main/g/gcc-4.8-armhf-cross/g++-4.8-arm-linux-gnueabihf_4.8.2-16ubuntu4cross0.11_amd64.deb
	md5sums = f5a3fb1964be9b5add1745d9bc08fc31

pkgname = g++-arm-linux-gnueabihf-bin

