pkgbase = python-cubieleds
	pkgver = 0.1
	pkgrel = 1
	url = https://github.com/mikkeloscar/python-cubieleds.git
	arch = any
	license = GPL
	makedepends = python-distribute
	depends = python
	source = http://pypi.python.org/packages/source/c/cubieleds/cubieleds-0.1.tar.gz
	sha1sums = e4adb0039684ec6facb84d84b8f4920e55390e43

pkgname = python-cubieleds
