pkgbase = browserpass-git
	pkgver = 1.0.2.r35.2a4c2be
	pkgrel = 1
	url = https://github.com/dannyvankooten/browserpass
	arch = i686
	arch = x86_64
	arch = armv6h
	arch = armv7h
	license = MIT
	makedepends = go
	depends = pass
	provides = browserpass
	conflicts = browserpass
	source = git+https://github.com/mikkeloscar/browserpass.git#branch=selfhost-extension
	md5sums = SKIP

pkgname = browserpass-git
