pkgbase = virtualbox-ext-oracle
	pkgver = 5.0.26
	pkgrel = 1
	url = http://www.virtualbox.org/
	install = virtualbox-ext-oracle.install
	arch = any
	license = custom:PUEL
	noextract = Oracle_VM_VirtualBox_Extension_Pack-5.0.26.vbox-extpack
	options = !strip
	source = http://download.virtualbox.org/virtualbox/5.0.26/Oracle_VM_VirtualBox_Extension_Pack-5.0.26.vbox-extpack
	md5sums = 071c6fff8f1298d5066b1b785eca2865

pkgname = virtualbox-ext-oracle
	depends = virtualbox
	optdepends = rdesktop: client to connect vm via RDP
