pkgbase = shark-svn
	pkgver = 3.0
	pkgrel = 1
	url = http://image.diku.dk/shark
	arch = i686
	arch = x86_64
	license = GPL3
	makedepends = subversion
	depends = boost
	depends = cmake
	source = shark::svn+https://svn.code.sf.net/p/shark-project/code/trunk/Shark
	md5sums = SKIP

pkgname = shark-svn

