pkgbase = kubectl
	pkgver = 1.2.4
	pkgrel = 1
	url = http://github.com/kubernetes/kubernetes
	arch = i686
	arch = x86_64
	license = Apache 2
	makedepends = git
	makedepends = go
	source = https://github.com/kubernetes/kubernetes/archive/v1.2.4.tar.gz
	md5sums = 1bb19f8400ae1e224c710d8e0a8579a1

pkgname = kubectl

