pkgbase = gokumail-git
	pkgver = v54
	pkgrel = 1
	url = https://github.com/mikkeloscar/gokumail-git
	arch = any
	license = GPLv3
	makedepends = go
	makedepends = git
	optdepends = postgresql: postgresql backend
	optdepends = mariadb: mariadb/mysql backend
	provides = gokumail
	conflicts = gokumail
	backup = etc/gokumail.conf
	source = git+https://github.com/mikkeloscar/gokumail.git
	sha1sums = SKIP

pkgname = gokumail-git
