pkgbase = termite-git
	pkgver = 11.34.g305f5cb
	pkgrel = 1
	epoch = 1
	url = https://github.com/thestinger/termite/
	arch = i686
	arch = x86_64
	license = LGPL
	makedepends = git
	depends = vte3-ng
	depends = xdg-utils
	provides = termite
	provides = termite-terminfo
	conflicts = termite
	conflicts = termite-terminfo
	backup = etc/xdg/termite/config
	source = git+https://github.com/mikkeloscar/termite#branch=bugfix/non-us-keyboard-layout
	md5sums = SKIP

pkgname = termite-git

