pkgbase = gokumail
	pkgver = 0.3.2
	pkgrel = 1
	url = https://github.com/mikkeloscar/gokumail
	arch = any
	license = GPLv3
	makedepends = go
	makedepends = git
	optdepends = postgresql: postgresql backend
	optdepends = mariadb: mariadb/mysql backend
	backup = etc/gokumail.conf
	source = git://github.com/mikkeloscar/gokumail#tag=v0.3.2
	sha1sums = SKIP

pkgname = gokumail

